/*bytewebster.com*/
/*bytewebster.com*/
/*bytewebster.com*/
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Montserrat&family=Montserrat+Alternates&family=Noto+Serif&family=Quicksand&family=Rubik+Scribble&display=swap');


.card-with-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
    transition: box-shadow 0.3s ease-in-out;
}

.card-with-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties as needed */
}

#headertextdash h1{
    font-family: 'Noto Serif', sans-serif;
}


.custom-card {
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 100%; /* Adjust the width of the card */
    max-width: 400px; /* Set a maximum width to control the size */
    margin: 0 auto; /* Center the card within the column */
}

.custom-card img {
    max-width: 45%; /* Make sure the image doesn't exceed the card width */
    height: auto; /* Maintain the image's aspect ratio */
}

.custom-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
 
#btnhover:hover{
    background-color: #994D1C; /* Replace with your desired background hover color */
    color: #fff;
}
.card-buttons {
    text-align: center;
}

.btn-sm-custom {
    margin-top: 10px;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    background-color: transparent; /* Remove background color */
    border: 1px solid #E48F45; /* Add border with the specified color */
    margin-right: 5px; /* Add a small margin between buttons */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
    position: relative;
}

.btn-sm-custom:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.btn-sm-custom i {
    color: #E48F45; /* Set the default icon color */
    transition: color 0.3s; /* Add a smooth transition effect for icon color */
}

.btn-sm-custom:hover {
    background-color: #994D1C; /* Background color on hover */
    color: #fff; /* Text color on hover */
}

.btn-sm-custom:hover i {
    color: #fff; /* Icon color on hover */
}

.uniwqe:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}

.notice-container {
    margin-top: -10px;
    padding: 20px;
    border: 1px solid #ddd; /* Border color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    max-width: 80%; /* Set your desired maximum width as a percentage */
    margin-left: auto;
    margin-right: auto;
}












.legend-item {
    text-align: center;
}
#Payment{
    max-width: 1100px;
}
#ordermodal{
    max-width: 600px;
}

#orderprocessmodal{
    max-width: 800px;
}
#Shoprating{
    max-width: 1100px;
}

#addordersize{
    max-width: 800px;
}

.center-input {
    text-align: center;
    width: 250px; /* Adjust the width as needed */
    margin: 0 auto; /* This will center the element horizontally */
}

.menu-btns {
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
}

.menu-btn {
    font-family: var(--Inter);
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #fff;
    border: none;
    color: #E48F45;
    display: flex;
    align-items: center;
    margin: 0.5rem; /* Add margin to all sides */
    padding: 10px 15px; /* Adjust padding */
    cursor: pointer;
    outline: 0;
    border-radius: 10px;
    transition: opacity 0.4s ease-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    background-color: #E48F45;
    color: #fff;
}

.menu-btn i {
    margin-right: 0.5rem;
}

.menu-btn.active-btn {
    background-color: #994D1C;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.active-btn {
    color: #994D1C;
}


.searched-item {
    display: block;
}

.all-items {
    display: none;
}
.modal-lg {
    max-width: 95%; /* Adjust the percentage as needed */
}


.bg-light {
    background-color: #f8f9fa !important; /* Use your desired light background color */
}

/* Custom styles for green text */
.text-success {
    color: green !important; /* Use your desired green text color */
}

/* Custom styles for the success icon */
.icon-success::before {
    content: '\f00c'; /* Unicode for a checkmark icon (font-awesome) */
    color: green; /* Use your desired green color for the icon */
}

.swal2-popup-light {
    background-color: #f8f9fa!important;
}

.read-more-btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 3px 8px; /* Adjusted padding */
    border: 2px solid #E48F45;
    background-color: #E48F45;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-btn i {
    margin-right: 4px; /* Adjusted margin for better spacing */
    font-size: 20px; /* Adjusted font size to match text height */
    vertical-align: middle; /* Align the icon vertically to the middle */
}

.read-more-btn:hover {
    background-color: #994D1C;
    color: #fff;
}





@media (max-width: 767px) {
    .menu-btns {
      flex-direction: column;
      align-items: center;
    }
  
    .menu-btn {
      width: 100%;
    }
    .card-header h5{
        display: none;
    }
  }
